@font-face {
  font-family: "ChangwonDangamAsac";
  font-weight: 700;
  src: url(./assets/fonts/woff/CWDangamAsac-Bold.woff) format("woff");
}

/* @font-face {
  font-family: "Pretendard Variable";
  src: url(./assets/fonts/PretendardVariable.ttf) format("truetype");
} */
