@font-face {
  font-family: "esamanruBold";
  src: url("https://cdn.jsdelivr.net/gh/strombreeding/atata_assets@main/fonts/esamanruBold.ttf");
  /* src: url("./assets/fonts/esamanruBold.ttf"); */
}

@font-face {
  font-family: "esamanru";
  src: url("https://cdn.jsdelivr.net/gh/strombreeding/atata_assets@main/fonts/esamanruMedium.ttf");
  /* src: url("./assets/fonts/esamanruMedium.ttf"); */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "esamanruLight";
  src: url("https://cdn.jsdelivr.net/gh/strombreeding/atata_assets@main/fonts/esamanruLight.ttf");
  /* src: url("./assets/fonts/esamanruLight.ttf"); */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeoBold";
  src: url("https://cdn.jsdelivr.net/gh/strombreeding/atata_assets@main/fonts/SpoqaHanSansNeoBold.ttf");
  /* src: url("./assets/fonts/SpoqaHanSansNeoBold.ttf"); */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeoLight";
  src: url("https://cdn.jsdelivr.net/gh/strombreeding/atata_assets@main/fonts/SpoqaHanSansNeoLight.ttf");
  /* src: url("./assets/fonts/SpoqaHanSansNeoLight.ttf"); */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeoMedium";
  src: url("https://cdn.jsdelivr.net/gh/strombreeding/atata_assets@main/fonts/SpoqaHanSansNeoMedium.ttf");
  /* src: url("./assets/fonts/SpoqaHanSansNeoMedium.ttf"); */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeoRegular";
  src: url("https://cdn.jsdelivr.net/gh/strombreeding/atata_assets@main/fonts/SpoqaHanSansNeoRegular.ttf");
  /* src: url("./assets/fonts/SpoqaHanSansNeoRegular.ttf"); */
  font-weight: normal;
  font-style: normal;
}
